<div class="container">

  <div class="mytable bg-mint p-3">
    <% @options.each_with_index do | option, index | %>
      <div class="table-row">
        <h3 class="table-item"><%= index + 1 %></h3>
        <h3 class="table-item"><%= option.option_name %></h3>
        <h3 class="table-item"></h3>
        <h3 class="table-item"><%= option.score %></h3>
      </div>
      <div class="arguments-table">
        <% option.arguments.each do |argument| %>
          <p></p>
          <p><%= argument.argument_name %></p>
          <p><%= argument.emoji %></p>
          <p><%= argument.score %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <button type="button" class="btn btn-outline-success">Congratulations</button>
</div>
