<div class="best-decision">
<h1>Your best Decision!</h1>
<p>Based on the Pros & Cons between your choices and how you feel! </p>
</div>

<div class="container">
  <div class="tom-says">
    <p> TOM says... </p>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_wys2rrr6.json"  background="transparent"  speed="0.75"  style="width: 300px; height: 300px;"    autoplay></lottie-player>
    <p class="winner"><%= @winner.option_name %></p>
  </div>

  <div class="mytable p-3">
    <% @options.each_with_index do | option, index | %>
      <div class="table-row">
        <h3 class="table-item"><%= index + 1 %></h3>
        <h3 class="table-item"><%= option.option_name %></h3>
        <h3 class="table-item"></h3>
        <h3 class="table-item"><%= option.score %></h3>
      </div>
      <div class="arguments-table">
        <% option.arguments.each do |argument| %>
          <p></p>
          <p><%= argument.argument_name %></p>
          <p><%= argument.emoji %></p>
          <p><%= argument.score %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# <button type="button" class="btn btn-outline-success">Congratulations</button> %>
</div>
