<div class="container">
  <div class="mytable card">
    <h1>Your best option is...</h1>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_wys2rrr6.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    <p class="option-name"><%= @winner.option_name %></p>
  </div>

  <div class="mytable bg-mint p-3">
    <p><%= @decision.decision_name %></p>
    <table class="table mb-0 p-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pro/Con</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= @winner.option_name %></td>
          <td><%= @winner.score %></td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td><%= @options[1].option_name %></td>
          <td><%= @options[1].score %></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><%= @options[2].option_name %></td>
          <td><%= @options[2].score %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%# <button type="button" class="btn btn-outline-success">Congratulations</button> %>
</div>
