<div class="step-options">
  <h2>Step 1 <br>Options</h2>
  <p>What are you deciding between? Please add min<br>two options. </p>
</div>

<div class="option" >
  <div class="create-option">
    <div class="options">
      <% @decision.options.each do |option| %>
      <%= render "option", option: option %>
      <% end %>
    </div>
  <%= simple_form_for [@decision, @option], data: { controller: "option" } do |f| %>
    <%= f.input :option_name, label: 'Add option:', class: "input-field" %>
    <div id="option-input">
      <%= f.submit "Add", class: "add-button btn btn-primary" %>
    </div>
  <% end %>
<p><%= link_to 'Delete Decision', decision_path(@decision), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete-button text-danger' %></small></p>
</div>
  </div>
</div>
<div style="height: 80px">
</div>
<footer>
<div class="buttons">
    <p class="show-buttons"><%= link_to 'Back', new_decision_path %></small></p>
  <% if @decision.options.count > 1 %>
    <p class="show-buttons"><%= link_to 'Next', option_path(@decision.options.first) %></small></p>
  <% end %>
</div>
</footer>
