<p> <%= @decision.decision_name %></p>

<% @decision.options.each do |option| %>
  <div>
    <ul>
      <li> <%= link_to option.option_name %> </li>
        <% option.arguments.each do |argument| %>
          <ul>
            <li><%= argument.argument_name %> – score: <%= argument.score %></li>
          </ul>
        <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for [@decision, @option] do |f| %>
  <%= f.input :option_name, label: 'What options do you have?', class: "my-awesome-css-class" %>
  <%= f.submit "Add option", class: "btn btn-primary" %>
<% end %>

<p><%= link_to 'Delete Decision', decision_path(@decision), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete-button text-danger' %></small></p>
<p><%= link_to 'Back to all decisions', decisions_path %></small></p>
