<div class="step-options">
  <h2>Step 1 <br>Options</h2>
  <p>What are you deciding between? Please add min 2 options </p>
</div>

<div class="option">
  <div class="create-option">

    <% @decision.options.each do |option| %>
      <div class="style-card">
        <ul style='padding: 0'>
          <li> <%= option.option_name %> </li>
        </ul>
      </div>
    <% end %>
  <%= simple_form_for [@decision, @option] do |f| %>
    <%= f.input :option_name, label: 'Add option:', class: "input-field" %>
    <%= f.submit "Add", class: " add-button btn btn-primary" %>
  <% end %>
  <%# buttons %>
</div>
  </div>
</div>

<footer> 
<div class="buttons">
    <p class="show-buttons"><%= link_to 'Back', new_decision_path %></small></p>
  <% if @decision.options.first %>
    <p class="show-buttons"><%= link_to 'Next', option_path(@decision.options.first) %></small></p>
  <% end %>
</div>
</footer>
