<div class="step-3">
  <h2>Step 3 <br>
  Affect</h2>
  <br>
  <p>Compare all Pros & Cons
  between your choices.</p>
</div>

<div class="decisions">
  <div class="question-list">
    <form action='/decisions/<%= @decision.id %>/options/<%= @option.id %>/score'>
        <% @options.each do |option| %>
          <% option.arguments.each do |argument| %>
          <div class="block">
            <p>Does <strong><%= @option.option_name %></strong> result in <strong><%= argument.argument_name %></strong>?</p>
            <input type="checkbox" id="argument<%= argument.id %>" name="argument<%= argument.id %>" value="1">
            <label for="argument<%= argument.id %>"> Yes </label><br>
            <input type="checkbox" id="argument<%= argument.id %>" name="argument<%= argument.id %>" value="-1">
            <label for="argument<%= argument.id %>"> No </label><br>
            <input type="checkbox" id="argument<%= argument.id %>" name="argument<%= argument.id %>" value="0">
            <label for="argument<%= argument.id %>"> Maybe </label><br>
            </div>
          <% end %>
        <% end %>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div> 
</div>