<h1>What are the pros and cons for <%= @option.option_name %> and how do they affect your well-being?</h1>

<%# <%= link_to 'Make Argument', new_option_argument_path(@option)%>

<div>
  <% @option.arguments.each do |argument| %>
    <ul>
      <li><%= argument.argument_name %> <%= argument.score %></li>
    </ul>
  <% end %>
</div>

<div>
  <%= simple_form_for [@option, @argument] do |f| %>
    <%= f.input :argument_name, label: 'description' %>
    <%= f.input :score, label: 'score (very negative: -2, very positive +2)' %>
    <%= f.submit "Add argument", class: "btn btn-primary" %>
  <% end %>
</div>
<%=@next_option%>
<p><%= link_to 'Next', option_path(@option) %></p>
<p><%= link_to 'Delete Option', option_path(@option), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete-button text-danger' %></small></p>
<p><%= link_to 'Back to', :back %></small></p>
